{% extends 'base.html' %}
{% load static %}

{% block head %}Register | {{ block.super }}{% endblock%}

{% block content %}

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <form method='POST'>{% csrf_token %}
                    <div class='form' class="col-sm-6 col-12">
                        <div class='text-center'>
                            <h1>{{ title }}</h1>
                        </div>
                        {{ form }}<br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}